<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>04 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{37,0},{27,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,65}</string>
                <key>spriteSourceSize</key>
                <string>{99,65}</string>
                <key>textureRect</key>
                <string>{{0,113},{99,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,89}</string>
                <key>spriteSourceSize</key>
                <string>{108,89}</string>
                <key>textureRect</key>
                <string>{{287,349},{108,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,101}</string>
                <key>spriteSourceSize</key>
                <string>{68,101}</string>
                <key>textureRect</key>
                <string>{{260,438},{68,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{169,265},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{77,83}</string>
                <key>textureRect</key>
                <string>{{252,265},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,49}</string>
                <key>spriteSourceSize</key>
                <string>{70,49}</string>
                <key>textureRect</key>
                <string>{{344,0},{70,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,27}</string>
                <key>spriteSourceSize</key>
                <string>{95,27}</string>
                <key>textureRect</key>
                <string>{{107,0},{95,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,63}</string>
                <key>spriteSourceSize</key>
                <string>{111,63}</string>
                <key>textureRect</key>
                <string>{{237,49},{111,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{188,349},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,85}</string>
                <key>spriteSourceSize</key>
                <string>{93,85}</string>
                <key>textureRect</key>
                <string>{{95,349},{93,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{96,186},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,119}</string>
                <key>spriteSourceSize</key>
                <string>{77,119}</string>
                <key>textureRect</key>
                <string>{{390,438},{77,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{241,186},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{71,59}</string>
                <key>textureRect</key>
                <string>{{68,49},{71,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,21}</string>
                <key>spriteSourceSize</key>
                <string>{14,21}</string>
                <key>textureRect</key>
                <string>{{93,0},{14,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{202,0},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{348,49},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{98,84}</string>
                <key>textureRect</key>
                <string>{{329,265},{98,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,101}</string>
                <key>spriteSourceSize</key>
                <string>{62,101}</string>
                <key>textureRect</key>
                <string>{{328,438},{62,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,92}</string>
                <key>spriteSourceSize</key>
                <string>{77,92}</string>
                <key>textureRect</key>
                <string>{{101,438},{77,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,74}</string>
                <key>textureRect</key>
                <string>{{0,186},{96,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{321,186},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,66}</string>
                <key>textureRect</key>
                <string>{{99,113},{100,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{16,0},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,18}</string>
                <key>spriteSourceSize</key>
                <string>{29,18}</string>
                <key>textureRect</key>
                <string>{{64,0},{29,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,34}</string>
                <key>spriteSourceSize</key>
                <string>{89,34}</string>
                <key>textureRect</key>
                <string>{{255,0},{89,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,91}</string>
                <key>spriteSourceSize</key>
                <string>{101,91}</string>
                <key>textureRect</key>
                <string>{{0,438},{101,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,95}</string>
                <key>spriteSourceSize</key>
                <string>{82,95}</string>
                <key>textureRect</key>
                <string>{{178,438},{82,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{166,186},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,73}</string>
                <key>spriteSourceSize</key>
                <string>{98,73}</string>
                <key>textureRect</key>
                <string>{{330,113},{98,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,72}</string>
                <key>textureRect</key>
                <string>{{199,113},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,85}</string>
                <key>spriteSourceSize</key>
                <string>{95,85}</string>
                <key>textureRect</key>
                <string>{{0,349},{95,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,72}</string>
                <key>spriteSourceSize</key>
                <string>{49,72}</string>
                <key>textureRect</key>
                <string>{{281,113},{49,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{73,79}</string>
                <key>textureRect</key>
                <string>{{401,186},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,79}</string>
                <key>spriteSourceSize</key>
                <string>{91,79}</string>
                <key>textureRect</key>
                <string>{{0,265},{91,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{91,265},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,53}</string>
                <key>spriteSourceSize</key>
                <string>{68,53}</string>
                <key>textureRect</key>
                <string>{{0,49},{68,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{139,49},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{474,557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f96e27070345ef0775b537231e899cb:5925843caef96b71c1b045a3a89f4a94:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
