<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shizi00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1,529},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{453,1},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1,1057},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{453,529},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{905,1},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1,1585},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1,2113},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{453,1057},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{905,529},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1357,1},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{453,1585},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{453,2113},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{905,1057},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1357,529},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{905,1585},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{905,2113},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1357,1057},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1357,1585},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shizi19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,526}</string>
                <key>spriteSourceSize</key>
                <string>{450,526}</string>
                <key>textureRect</key>
                <string>{{1357,2113},{450,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1808,2640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fc7beb423c46aea9180793f78e49c19:b6d0b4f9d8a25fc019f4a036eb230bf7:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
