<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaofagong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1216},{298,288}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,378},{298,288}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{1,1}}</string>
                <key>offset</key>
                <string>{-539.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1982},{56,42}}</string>
                <key>offset</key>
                <string>{477,-207}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{989,686},{56,42}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,698},{266,138}}</string>
                <key>offset</key>
                <string>{372,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{779,606},{266,138}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{376,188}}</string>
                <key>offset</key>
                <string>{317,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{669,560},{376,188}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1640},{340,138}}</string>
                <key>offset</key>
                <string>{245,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{615,538},{340,138}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{422,238}}</string>
                <key>offset</key>
                <string>{97,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,397},{422,238}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,694}}</string>
                <key>offset</key>
                <string>{98,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,165},{628,694}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
            <key>xiaofagong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{460,516}}</string>
                <key>offset</key>
                <string>{52,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,258},{460,516}}</string>
                <key>sourceSize</key>
                <string>{1080,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aoshu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3595e46eec6feae79bf2bf521897bd33$</string>
            <key>textureFileName</key>
            <string>aoshu.png</string>
        </dict>
    </dict>
</plist>
