<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongjianzuo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{1,1}}</string>
                <key>offset</key>
                <string>{-512,599.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{1,1}}</string>
                <key>offset</key>
                <string>{-512,599.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,158},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,158},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,158},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo13.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,158},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo14.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,80},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo15.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo16.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{1,1}}</string>
                <key>offset</key>
                <string>{-512,599.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo17.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{1,1}}</string>
                <key>offset</key>
                <string>{-512,599.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{47,30}}</string>
                <key>offset</key>
                <string>{-489,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,684},{47,30}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{153,44}}</string>
                <key>offset</key>
                <string>{-436,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,686},{153,44}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,236},{259,46}}</string>
                <key>offset</key>
                <string>{-383,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,695},{259,46}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,331},{365,74}}</string>
                <key>offset</key>
                <string>{-330,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,678},{365,74}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{393,76}}</string>
                <key>offset</key>
                <string>{-239,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,687},{393,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,158},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,158},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>gongjianzuo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,158},{327,76}}</string>
                <key>offset</key>
                <string>{-167,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,698},{327,76}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongjianzuo.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e5a5ee5aa94a1a8a902f0f2aa032b0$</string>
            <key>textureFileName</key>
            <string>gongjianzuo.png</string>
        </dict>
    </dict>
</plist>
