<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KS01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,228},{34,64}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{128,82}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,228},{82,66}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{82,66}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,88},{128,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{128,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,82},{128,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,78}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,78}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{110,74}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{94,84}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,236},{80,96}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,150},{76,92}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{76,92}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,150},{58,82}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{58,82}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS14.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,294},{52,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{52,62}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,296},{50,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{50,50}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS16.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,296},{50,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,23},{50,44}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>KS17.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,234},{50,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{50,42}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KS.png</string>
            <key>size</key>
            <string>{348,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c04bd53f1d254c8d259a5e659876b104$</string>
            <key>textureFileName</key>
            <string>KS.png</string>
        </dict>
    </dict>
</plist>
