<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KSSJ00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1920,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2560,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3200,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3840,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{4480,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5120,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5760,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{6400,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1920,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2560,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3200,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3840,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{4480,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5120,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5760,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{6400,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1920,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2560,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3200,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3840,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{4480,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5120,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5760,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{6400,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1920,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2560,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3200,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3840,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{4480,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5120,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{5760,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{6400,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,1920},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,1920},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,1920},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1920,1920},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2560,1920},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3200,1920},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KSSJ50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3840,1920},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KSSJ.png</string>
            <key>size</key>
            <string>{7040,2400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f307aeb7a9e1052cac599cbb9281ebf:b675f938384fba5788187f9774d7d836:f489e198f6738983ebb1c9e75d67a482$</string>
            <key>textureFileName</key>
            <string>KSSJ.png</string>
        </dict>
    </dict>
</plist>
