<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuaisu00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,948},{166,312}}</string>
                <key>offset</key>
                <string>{-90,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,0},{166,312}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,408}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,408}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,414}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,414}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,848},{408,332}}</string>
                <key>offset</key>
                <string>{116,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,77},{408,332}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1286},{640,302}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,107},{640,302}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{640,308}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,107},{640,308}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,644},{640,300}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,109},{640,300}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{590,384}}</string>
                <key>offset</key>
                <string>{-25,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,384}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1282},{544,360}}</string>
                <key>offset</key>
                <string>{-48,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,360}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,484},{462,412}}</string>
                <key>offset</key>
                <string>{-46,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{462,412}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{396,480}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{396,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1274},{374,464}}</string>
                <key>offset</key>
                <string>{-54,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,16},{374,464}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{282,404}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,54},{282,404}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1718},{260,310}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,84},{260,310}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2064,2},{248,246}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,106},{248,246}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1258},{246,214}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,117},{246,214}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,796},{244,214}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,117},{244,214}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1828},{444,216}}</string>
                <key>offset</key>
                <string>{98,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,114},{444,216}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1740},{444,300}}</string>
                <key>offset</key>
                <string>{98,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,115},{444,300}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,408},{386,292}}</string>
                <key>offset</key>
                <string>{127,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,119},{386,292}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,542},{500,208}}</string>
                <key>offset</key>
                <string>{70,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,205},{500,208}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1286},{560,240}}</string>
                <key>offset</key>
                <string>{40,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,179},{560,240}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,594},{560,228}}</string>
                <key>offset</key>
                <string>{40,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,181},{560,228}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{538,226}}</string>
                <key>offset</key>
                <string>{51,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,183},{538,226}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu24.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1044},{474,228}}</string>
                <key>offset</key>
                <string>{83,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,187},{474,228}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{432,174}}</string>
                <key>offset</key>
                <string>{104,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,235},{432,174}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1262},{454,246}}</string>
                <key>offset</key>
                <string>{42,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,234},{454,246}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,436},{410,246}}</string>
                <key>offset</key>
                <string>{19,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,234},{410,246}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,2},{352,172}}</string>
                <key>offset</key>
                <string>{9,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,233},{352,172}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu29.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1156},{274,124}}</string>
                <key>offset</key>
                <string>{18,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,235},{274,124}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu30.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1928},{222,94}}</string>
                <key>offset</key>
                <string>{22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,236},{222,94}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu31.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1928},{198,78}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,239},{198,78}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu32.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1848},{196,76}}</string>
                <key>offset</key>
                <string>{24,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,240},{196,76}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu33.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1848},{194,74}}</string>
                <key>offset</key>
                <string>{24,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,241},{194,74}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu34.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1848},{192,70}}</string>
                <key>offset</key>
                <string>{25,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,243},{192,70}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,948},{188,64}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,247},{188,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2030},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu37.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1928},{24,78}}</string>
                <key>offset</key>
                <string>{-12,-201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,402},{24,78}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu38.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2008},{34,140}}</string>
                <key>offset</key>
                <string>{-15,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,340},{34,140}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu39.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2012},{34,162}}</string>
                <key>offset</key>
                <string>{-13,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,296},{34,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu40.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2008},{30,128}}</string>
                <key>offset</key>
                <string>{-10,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,266},{30,128}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{26,100}}</string>
                <key>offset</key>
                <string>{-8,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,252},{26,100}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu42.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1928},{26,82}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,249},{26,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu43.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1928},{26,82}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,249},{26,82}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu44.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1928},{26,80}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,249},{26,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu45.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1928},{24,80}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,249},{24,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu46.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1928},{24,78}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,250},{24,78}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2030},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2030},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2030},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>kuaisu50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2030},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuaisusheji.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d84076ebf92ed035d5e1a61c243405cc$</string>
            <key>textureFileName</key>
            <string>kuaisusheji.png</string>
        </dict>
    </dict>
</plist>
