<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shixiekuang00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,603},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,1205},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,1807},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,2409},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,3011},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,1},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,603},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,1205},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,1807},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,2409},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{603,3011},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,1},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,516},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,603},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,1118},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,1720},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,2322},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,2409},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1205,2924},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1546,516},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1205,2924},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,2409},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,2322},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,1720},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,1118},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,603},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,516},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1031,1},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{603,3011},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,2409},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1633,1},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1546,1031},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1546,1633},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1546,2235},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1720,2837},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2061,1031},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2148,516},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2235,1},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2061,1546},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2061,2148},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,603},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,1205},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,1807},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,2409},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{1,3011},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,1},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,603},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,1205},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,1807},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{516,2409},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2235,2750},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2576,1546},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2663,1031},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2750,516},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2837,1},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2576,2061},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shixiekuang58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{2750,2663},{513,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shixiekuang59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,600}</string>
                <key>spriteSourceSize</key>
                <string>{513,600}</string>
                <key>textureRect</key>
                <string>{{3091,2061},{513,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shixiekuang-0.png</string>
            <key>size</key>
            <string>{3605,3525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7092694c1b063c818f8e486b22163c:5016e6bb35e98f6b0d97bf13bc886f06:ae026ef5b696d4b2b74b4d786861240a$</string>
            <key>textureFileName</key>
            <string>shixiekuang-0.png</string>
        </dict>
    </dict>
</plist>
