<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shizijun00.png</key>
            <dict>
                <key>frame</key>
                <string>{{5626,500},{479,480}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,307},{479,480}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{5626,2},{493,496}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,302},{493,496}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{5169,1506},{495,498}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,302},{495,498}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{5169,1006},{495,498}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,302},{495,498}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{5127,504},{497,500}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,300},{497,500}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{5127,2},{497,500}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,300},{497,500}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4670,1524},{497,500}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,300},{497,500}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4670,1022},{497,500}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,300},{497,500}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4093,1060},{575,578}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,261},{575,578}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2457,1096},{655,658}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,221},{655,658}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1116},{735,740}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,180},{735,740}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1132},{817,820}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,141},{817,820}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{897,900}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,101},{897,900}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3114,1060},{977,982}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{977,982}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4110,2},{1015,1018}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,43},{1015,1018}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3083,2},{1025,1056}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{1025,1056}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2056,2},{1025,1092}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1025,1092}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{1025,1112}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,1112}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1025,1128}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,1128}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
            <key>shizijun19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2034},{1,1}}</string>
                <key>offset</key>
                <string>{-512,599.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1025,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shizijun.png</string>
            <key>size</key>
            <string>{8192,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31f3d1ac3330cf7e884d907c3d52ac99$</string>
            <key>textureFileName</key>
            <string>shizijun.png</string>
        </dict>
    </dict>
</plist>
