<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sichongtianjiang_00000-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,0},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00001-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{1080,0},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00002-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{2160,0},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00003-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{3240,0},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00004-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{4320,0},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00005-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{5400,0},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00006-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{6480,0},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00007-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,1000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00008-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{1080,1000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00009-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{2160,1000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00010-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{3240,1000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00011-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{4320,1000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00012-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{5400,1000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00013-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{6480,1000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00014-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,2000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00015-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{1080,2000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00016-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{2160,2000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00017-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{3240,2000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00018-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{4320,2000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00019-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{5400,2000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00020-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{6480,2000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00021-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,3000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00022-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{1080,3000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00023-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{2160,3000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00024-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{3240,3000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00025-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{4320,3000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00026-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{5400,3000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00027-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{6480,3000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00028-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,4000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00029-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{1080,4000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00030-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{2160,4000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00031-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{3240,4000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00032-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{4320,4000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00033-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{5400,4000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00034-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{6480,4000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00035-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,5000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00036-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{1080,5000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00037-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{2160,5000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00038-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{3240,5000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00039-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{4320,5000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00040-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{5400,5000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00041-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{6480,5000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00042-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,6000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00043-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{1080,6000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00044-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{2160,6000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00045-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{3240,6000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00046-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{4320,6000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00047-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{5400,6000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00048-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{6480,6000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichongtianjiang_00049-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1000}</string>
                <key>textureRect</key>
                <string>{{0,7000},{1080,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sichongtianjiang.png</string>
            <key>size</key>
            <string>{7560,8000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b441cd6a58ffc6320f49fb481e422a0:e5080fc285f0fda750ef55437a77e738:a33bb1c5910fa3c510d3e53efb525964$</string>
            <key>textureFileName</key>
            <string>sichongtianjiang.png</string>
        </dict>
    </dict>
</plist>
