<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyun00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{0,0},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{540,0},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1080,0},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1620,0},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2160,0},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2700,0},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{3240,0},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{0,632},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{540,632},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1080,632},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1620,632},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2160,632},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2700,632},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{3240,632},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{0,1264},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{540,1264},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1080,1264},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1620,1264},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2160,1264},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2700,1264},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{3240,1264},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{0,1896},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{540,1896},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1080,1896},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1620,1896},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2160,1896},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2700,1896},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{3240,1896},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{0,2528},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{540,2528},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1080,2528},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1620,2528},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2160,2528},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2700,2528},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{3240,2528},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{0,3160},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{540,3160},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1080,3160},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{1620,3160},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyun39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,632}</string>
                <key>spriteSourceSize</key>
                <string>{540,632}</string>
                <key>textureRect</key>
                <string>{{2160,3160},{540,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyun.png</string>
            <key>size</key>
            <string>{3780,3792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19cb5583a8acd4e319aaa47e917afdc7:7db5ed8e978df47989511938d8d6dadd:e5d85f69178ed0f10def5f9c4d3ba87f$</string>
            <key>textureFileName</key>
            <string>xiangyun.png</string>
        </dict>
    </dict>
</plist>
