<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guochang00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2111},{116,521}}</string>
                <key>offset</key>
                <string>{134,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,39},{116,521}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2111},{164,597}}</string>
                <key>offset</key>
                <string>{110,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,7},{164,597}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2111},{214,647}}</string>
                <key>offset</key>
                <string>{85,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,0},{214,647}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1408},{262,667}}</string>
                <key>offset</key>
                <string>{61,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,0},{262,667}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,705},{312,701}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{312,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1408},{360,701}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{360,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,705},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1408},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,705},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1408},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,705},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1408},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,705},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
            <key>guochang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,701}}</string>
                <key>sourceSize</key>
                <string>{384,701}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiangyun.png</string>
            <key>size</key>
            <string>{2327,2327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:531c0cdec11f6e36a4ae5f7c93442b6c$</string>
            <key>textureFileName</key>
            <string>xiangyun.png</string>
        </dict>
    </dict>
</plist>
