<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhisi00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,162},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,162},{84,142}}</string>
                <key>offset</key>
                <string>{206,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,97},{84,142}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{152,158}}</string>
                <key>offset</key>
                <string>{161,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,96},{152,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1300},{366,212}}</string>
                <key>offset</key>
                <string>{137,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,98},{366,212}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,452},{576,476}}</string>
                <key>offset</key>
                <string>{32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,4},{576,476}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{634,476}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{634,476}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{612,448}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,448}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi18.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,480},{510,448}}</string>
                <key>offset</key>
                <string>{-65,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,448}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{502,440}}</string>
                <key>offset</key>
                <string>{-69,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,440}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{502,436}}</string>
                <key>offset</key>
                <string>{-69,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,436}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{502,434}}</string>
                <key>offset</key>
                <string>{-69,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,434}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1364},{502,428}}</string>
                <key>offset</key>
                <string>{-69,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,428}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi23.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,930},{482,368}}</string>
                <key>offset</key>
                <string>{-61,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{482,368}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>zhisi24.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,930},{242,370}}</string>
                <key>offset</key>
                <string>{-183,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{242,370}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhisi.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba82ed828e9e99ca753b590f16d23282$</string>
            <key>textureFileName</key>
            <string>zhisi.png</string>
        </dict>
    </dict>
</plist>
